* {
    box-sizing: border-box;
}
html, body {
    min-width: 1200px;
    width: 100%;
    min-height: 100%;
    background: #fff;
}
body {
    font-family: 'Open Sans', 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Arial, sans-serif;
    color: #707473;
    font-weight: 400;
    font-size: 14px;
    word-spacing: -1px;
    overflow-x: hidden;
    overflow-y: auto;
}
